<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ ARTICLE_TITLE }} · {{ SITE_TITLE }}</title>

        <meta name="viewport" content="initial-scale=1.0" />
        <meta name="description" content="{{ ARTICLE_DESCRIPTION }}" />

        <link rel="canonical" href="{{ SITE_URL }}{{ ARTICLE_SLUG }}.html">
        <link rel="alternate" href="{{ SITE_URL }}feeds/all.atom.xml" type="application/atom+xml" title="Articles de {{ SITE_TITLE }}" />

        <link rel="stylesheet" href="{{ SITE_URL_FLUS }}static/style/main.css">
        <script src="{{ SITE_URL_FLUS }}static/js/stimulus.min.js" defer></script>
        <script src="{{ SITE_URL_FLUS }}static/js/main.js" defer></script>

        <script src="https://plausible.io/js/script.js" defer data-domain="{{ SITE_DOMAIN_FLUS }}"></script>

        <meta property="og:title" content="{{ ARTICLE_TITLE }}" />
        <meta property="og:type" content="article" />
        <meta property="og:description" content="{{ ARTICLE_DESCRIPTION }}" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:url" content="{{ SITE_URL }}{{ ARTICLE_SLUG }}.html" />
        {% if 'ARTICLE_ILLUSTRATION' in globals() %}
            <meta property="og:image" content="{{ SITE_URL }}{{ ARTICLE_ILLUSTRATION }}" />
        {% else %}
            <meta property="og:image" content="{{ SITE_URL }}card.png" />
        {% endif %}
        <meta name="twitter:card" content="summary">
    </head>

    <body>
        <nav class="accessibility-nav" aria-label="Menu de liens d’évitement">
            <a href="#contenu" class="button button--primary">
                Sauter au contenu
            </a>
        </nav>

        <div class="layout">
            <header class="layout__header" role="banner">
                <nav
                    class="header__navigation"
                    data-controller="navigation"
                    aria-label="Menu de navigation principal"
                    role="navigation"
                >
                    <button
                        class="navigation__menubutton button button--ghost only-mobile"
                        data-action="navigation#switch"
                        data-target="navigation.button"
                        aria-expanded="false"
                    >
                        <svg class="icon icon--bars" aria-hidden="true" width="36" height="36">
                            <use xlink:href="{{ SITE_URL_FLUS }}static/icons/icons.svg#bars"/>
                        </svg>
                        <svg class="icon icon--times" aria-hidden="true" width="36" height="36">
                            <use xlink:href="{{ SITE_URL_FLUS }}static/icons/icons.svg#times"/>
                        </svg>

                        <span class="sr-only">
                            Ouvrir le menu de navigation
                        </span>
                    </button>

                    <ul class="navigation__container">
                        <li>
                            <a class="navigation__link" href="{{ SITE_URL_FLUS }}fonctionnalites">
                                Fonctionnalités
                            </a>
                        </li>

                        <li>
                            <a class="navigation__link" href="{{ SITE_URL_FLUS }}tarifs">
                                Tarifs
                            </a>
                        </li>

                        <li>
                            <a class="navigation__link" href="{{ SITE_URL }}index.html" aria-current="page">
                                Blog
                            </a>
                        </li>

                        <li>
                            <a class="navigation__link" href="{{ SITE_URL_FLUS }}contact">
                                Contact
                            </a>
                        </li>

                        <li class="only-mobile">
                            <a class="navigation__link" href="https://app.flus.fr/login">
                                Se connecter
                            </a>
                        </li>

                        <li class="only-mobile">
                            <a class="navigation__link" href="https://app.flus.fr/registration">
                                S’inscrire
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="header__logo">
                    <a href="{{ SITE_URL_FLUS }}" title="Flus - Accueil" rel="home">
                        <img
                            src="{{ SITE_URL }}logo-white.svg"
                            height="40"
                            alt="Flus"
                        />
                    </a>
                </div>

                <div class="col--extend text--right no-mobile">
                    <a class="button button--primary" href="https://app.flus.fr/registration">
                        <svg class="icon icon--arrow-left rotate180" aria-hidden="true" width="36" height="36">
                            <use xlink:href="{{ SITE_URL_FLUS }}static/icons/icons.svg#arrow-left"/>
                        </svg>
                        S’inscrire
                    </a>

                    <a class="button button--ghost" href="https://app.flus.fr/login">
                        Se connecter
                    </a>
                </div>
            </header>

            <nav class="layout__breadcrumb" aria-label="Fil d’Ariane">
                <ul class="list--nostyle">
                    <li class="breadcrumb__item">
                        <a class="breadcrumb__link" href="{{ SITE_URL_FLUS }}" rel="home">

                            Accueil
                        </a>
                    </li>

                    <li class="breadcrumb__item">
                        <a class="breadcrumb__link" href="{{ SITE_URL }}index.html">

                            Blog
                        </a>
                    </li>

                    <li class="breadcrumb__item">
                        <a class="breadcrumb__link" aria-current="page" href="{{ SITE_URL }}{{ ARTICLE_SLUG }}.html">

                            {{ ARTICLE_TITLE }}
                        </a>
                    </li>
                </ul>
            </nav>

            <main class="layout__content" id="contenu" role="main">
                <article class="section section--text">
                    <header class="panel panel--primary panel--header">
                        <div class="wrapper wrapper--larger wrapper--center text--center flow">
                            <h1>
                                {{ ARTICLE_TITLE }}
                            </h1>

                            <p class="text--small">
                                Publié par {{ SITE_AUTHOR }}, le {{ datetime.strptime(ARTICLE_DATE, "%Y-%m-%d %H:%M").strftime("%d %B %Y") }}
                            </p>
                        </div>
                    </header>

                    <div class="panel">
                        <div class="wrapper wrapper--text wrapper--center text-container">
                            {{ ARTICLE_CONTENT }}
                        </div>
                    </div>
                </article>
            </main>

            <footer class="layout__footer" role="contentinfo">
                <div class="wrapper wrapper--larger wrapper--center flow flow--large">
                    <div class="cols cols--center cols--gap-large">
                        <a href="{{ SITE_URL_FLUS }}" title="Flus - Accueil" rel="home">
                            <img
                                class="footer__logo"
                                alt="Flus"
                                src="{{ SITE_URL }}logo.svg"
                            />
                        </a>

                        <ul class="list--nostyle list--inline col--extend cols cols--center cols--hcenter cols--gap">
                            <li>
                                <a class="footer__link" href="{{ SITE_URL_FLUS }}fonctionnalites">
                                    Fonctionnalités
                                </a>
                            </li>

                            <li>
                                <a class="footer__link" href="{{ SITE_URL_FLUS }}tarifs">
                                    Tarifs
                                </a>
                            </li>

                            <li>
                                <a class="footer__link" href="{{ SITE_URL }}index.html">
                                    Blog
                                </a>
                            </li>

                            <li>
                                <a class="footer__link" href="{{ SITE_URL_FLUS }}contact">
                                    Contact
                                </a>
                            </li>
                        </ul>

                        <p>
                            <a class="button button--primary" href="https://app.flus.fr/registration">
                                <svg class="icon icon--arrow-left rotate180" aria-hidden="true" width="36" height="36">
                                    <use xlink:href="{{ SITE_URL_FLUS }}static/icons/icons.svg#arrow-left"/>
                                </svg>
                                S’inscrire sur Flus
                            </a>
                        </p>
                    </div>

                    <hr class="footer__separator">

                    <ul class="list--nostyle list--inline text--small text--center">
                        <li>
                            <a class="footer__link" href="{{ SITE_URL_FLUS }}plan-du-site">
                                Plan du site
                            </a>
                        </li>

                        <li>
                            <a class="footer__link" href="{{ SITE_URL_FLUS }}mentions-legales">
                                Mentions légales
                            </a>
                        </li>

                        <li>
                            <a class="footer__link" href="{{ SITE_URL_FLUS }}securite">
                                Sécurité
                            </a>
                        </li>

                        <li>
                            <a class="footer__link" href="{{ SITE_URL_FLUS }}credits">
                                Crédits
                            </a>
                        </li>

                        <li>
                            <a class="footer__link" href="https://rss.flus.fr">
                                Accéder à FreshRSS
                            </a>
                        </li>

                        <li>
                            <a class="footer__link" href="https://status.flus.fr">
                                Statut des services
                            </a>
                        </li>
                    </ul>

                    <p class="footer__license text--small text--center">
                        Licence libre

                        <a href="https://github.com/flusio/Flus/blob/main/LICENSE.txt">
                            AGPL-3.0
                        </a>
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>
