<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="canonical" href="{{ SITE_URL }}">
        <link rel="stylesheet" href="{{ SITE_URL }}style.css">
        <link href="{{ SITE_URL }}feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Articles de {{ SITE_TITLE }}" />
        <title>{{ SITE_TITLE }}, {{ SITE_SUBTITLE }}</title>
        <meta name="description" content="Le carnet de flus est un blog retraçant la vie de Flus, un média social citoyen destiné à appaiser notre relation face à l’information." />

        <meta name="twitter:card" content="summary">
        <meta property="og:title" content="{{ SITE_TITLE }}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Le carnet de flus est un blog retraçant la vie de Flus, un média social citoyen destiné à appaiser notre relation face à l’information." />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:url" content="{{ SITE_URL }}" />
        <meta property="og:image" content="{{ SITE_URL }}logo.svg" />
    </head>

    <body class="layout layout--index">
        <header class="layout__header">
            <nav class="layout__navigation">
                <a href="{{ SITE_URL_FLUS }}">
                    Accéder à Flus
                </a>
            </nav>

            <h1 class="layout__title">
                <a href="{{ SITE_URL }}index.html">
                    carnet de <br />
                    <img
                        class="logo"
                        src="{{ SITE_URL }}logo.svg"
                        width="221"
                        height="75"
                        alt="Flus"
                    />
                </a>
            </h1>
        </header>

        <main class="layout__content">
            <section class="section">
                <p class="section__intro">
                    Ce carnet me sert à raconter, semaine après semaine, comment
                    je construis le service <a href="https://flus.fr">flus.fr</a>.
                </p>

                {% for year, articles in ARTICLES_BY_YEAR %}
                    <h2>{{ year }}</h2>

                    <ul class="articles">
                        {% for article in articles %}
                            {% if 'ARTICLE_TAGS' in article.meta and 'featured' in article.meta['ARTICLE_TAGS'] %}
                                <li class="articles__item articles__item--featured">
                                    <span class="articles__date">{{ article.date().strftime("%d %b") }}</span>

                                    <a class="articles__title" href="{{ article.url() }}">
                                        {{ article.title() }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="articles__item">
                                    <span class="articles__date">{{ article.date().strftime("%d %b") }}</span>

                                    <div class="articles__container">
                                        <a class="articles__title" href="{{ article.url() }}">
                                            {{ article.title() }}
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endfor %}

                <img
                    class="illustration illustration--centered cup-of-tea"
                    alt=""
                    src="illustrations/cup-of-tea.svg"
                />
            </section>
        </main>

        <footer class="layout__footer">
            <p>
                <a href="{{ SITE_URL_FLUS }}mentions-legales">mentions légales</a>
            </p>

            <p class="copyright">
                Copyright © Flus 2020.<br />
                <a href="https://flus.fr/contact">Contact</a>&nbsp;·&nbsp;<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>&nbsp;·&nbsp;<a href="{{ SITE_URL_FLUS }}credits">Crédits</a>&nbsp;·&nbsp;<a href="https://github.com/flusio">Code source</a>
            </p>

            <p>
                <a href="{{ SITE_URL_FLUS }}">Flus</a> est un média social citoyen
                destiné à appaiser notre relation face à l’information.
                <a href="{{ SITE_URL }}abonnement.html">Abonnez-vous au carnet</a>
                pour être tenu au courant des nouveautés.
            </p>
        </footer>
    </body>
</html>
