<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="canonical" href="{{ SITE_URL }}">
        <link rel="stylesheet" href="{{ SITE_URL }}style.css">
        <link href="{{ SITE_URL }}feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Articles de {{ SITE_TITLE }}" />
        <title>{{ SITE_TITLE }}, {{ SITE_SUBTITLE }}</title>
        <meta name="description" content="Le carnet de flus est un blog retraçant la vie de Flus, un média social citoyen destiné à apaiser notre relation face à l’information." />

        <script src="{{ SITE_URL_FLUS }}static/stimulus.min.js" defer></script>
        <script src="{{ SITE_URL_FLUS }}static/popup.js" defer></script>

        <meta name="twitter:card" content="summary">
        <meta property="og:title" content="{{ SITE_TITLE }}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Le carnet de flus est un blog retraçant la vie de Flus, un média social citoyen destiné à apaiser notre relation face à l’information." />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:url" content="{{ SITE_URL }}" />
        <meta property="og:image" content="{{ SITE_URL }}logo.svg" />
        <meta name="twitter:site" content="{{ SITE_TWITTER }}">
    </head>

    <body class="layout layout--index">
        <header class="layout__header">
            <nav class="nav">
                <details
                    class="nav__popup popup only-mobile"
                    data-controller="popup"
                    data-action="click@window->popup#close"
                >
                    <summary class="popup__opener" title="Ouvrir le menu">
                        <i class="icon icon--bars"></i>

                        <span class="sr-only">
                            Ouvrir le menu
                        </span>
                    </summary>

                    <ul class="popup__container">
                        <li class="popup__item popup__item--close">
                            <button
                                type="button"
                                class="popup__button"
                                data-action="popup#toggle"
                                aria-label="Fermer"
                                title="Fermer cette fenêtre"
                            >
                                <i class="icon icon--only icon--times"></i>
                            </button>
                        </li>

                        <li class="popup__item">
                            <a class="popup__link" href="{{ SITE_URL_FLUS }}">
                                Accueil
                            </a>
                        </li>

                        <li class="popup__item">
                            <a class="popup__link" href="{{ SITE_URL_FLUS }}projet">
                                Projet
                            </a>
                        </li>

                        <li class="popup__item">
                            <a class="popup__link" href="{{ SITE_URL_FLUS }}tarifs">
                                Tarifs
                            </a>
                        </li>

                        <li class="popup__item popup__item--active">
                            <a class="popup__link" href="{{ SITE_URL }}index.html">
                                Carnet
                            </a>
                        </li>
                    </ul>
                </details>

                <a class="nav__link no-mobile" href="{{ SITE_URL_FLUS }}">
                    <img
                        class="nav__image"
                        src="{{ SITE_URL }}logo.svg"
                        height="40"
                        alt="Flus"
                     />
                </a>

                <div class="nav__space"></div>

                <ul class="nav__container no-mobile">
                    <li class="nav__item ">
                        <a class="nav__link" href="{{ SITE_URL_FLUS }}projet">
                            Projet
                        </a>
                    </li>

                    <li class="nav__item ">
                        <a class="nav__link" href="{{ SITE_URL_FLUS }}tarifs">
                            Tarifs
                        </a>
                    </li>

                    <li class="nav__item nav__item--active">
                        <a class="nav__link" href="{{ SITE_URL }}index.html">
                            Carnet
                        </a>
                    </li>
                </ul>

                <a class="nav__link nav__link--featured" href="https://app.flus.fr/login">
                    Se connecter
                </a>
            </nav>
        </header>

        <main class="layout__content">
            <section class="section section--text">
                <p class="section__intro">
                    Ce carnet me sert à raconter, semaine après semaine, comment
                    je construis le service <a href="https://flus.fr">flus.fr</a>.
                </p>

                {% for year, articles in ARTICLES_BY_YEAR %}
                    <h2>{{ year }}</h2>

                    <ul class="articles">
                        {% for article in articles %}
                            {% if 'ARTICLE_TAGS' in article.meta and 'featured' in article.meta['ARTICLE_TAGS'] %}
                                <li class="articles__item articles__item--featured">
                                    <span class="articles__date">{{ article.date().strftime("%d %b") }}</span>

                                    <a class="articles__title" href="{{ article.url() }}">
                                        {{ article.title() }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="articles__item">
                                    <span class="articles__date">{{ article.date().strftime("%d %b") }}</span>

                                    <div class="articles__container">
                                        <a class="articles__title" href="{{ article.url() }}">
                                            {{ article.title() }}
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endfor %}

                <img
                    class="illustration illustration--centered cup-of-tea"
                    alt=""
                    src="illustrations/cup-of-tea.svg"
                />
            </section>
        </main>

        <footer class="layout__footer">
            <p>
                <a class="call-to-action" href="https://app.flus.fr/registration">
                    S’inscrire sur Flus
                </a>
            </p>

            <p class="paragraph--center">
                Flus, c’est également un agrégateur de flux <abbr>RSS</abbr>. Intéressé&nbsp;?<br />
                <a href="https://flus.io">Accéder à Flus 1</a>
            </p>

            <p>
                <a href="{{ SITE_URL_FLUS }}mentions-legales">mentions légales</a>
            </p>

            <p class="copyright">
                Copyright © Flus 2020, <a href="https://github.com/flusio/flus.fr/blob/master/LICENSE.txt">AGPL-3.0</a><br />
                <a href="https://status.flus.io/">Statut du service</a>&nbsp;·&nbsp;<a href="{{ SITE_URL_FLUS }}contact">Contact</a>&nbsp;·&nbsp;<a href="{{ SITE_URL_FLUS }}credits">Crédits</a>&nbsp;·&nbsp;<a href="https://github.com/flusio">Code source</a>
            </p>
        </footer>
    </body>
</html>
